%d-flex {
    display: flex;
}

%v-center {
    align-items: center;
}

%content-center {
    justify-content: center;
}

%content-end {
    justify-content: end;
}

%space-between {
    justify-content: space-between;
}
