/* 
================================================
De momento, el formato original de SASS no lo vamos a usar,  
no es compatible de manera directa con CSS. 
Usaremos SCSS, una variante de SASS, similar y ofrece compatibilidad con CSS al 100%; 
readmore: http://www.thesassway.com/editorial/sass-vs-scss-which-syntax-is-better 
================================================
*/

/*
================================================
INSTALL MAC
sudo gem install sass

INSTALL LINUX
sudo apt-get install ruby-full
gem install sass
================================================
*/

/*
================================================
COMPILAR 
sass --watch directorioSASS/ficheroPrincipal.scss:directorioCSS/nombreFichero.css
El nombre del fichero CSS se puede omitir y lo escribirá con el mismo nombre del fichero SCSS

COMPILAR MINIFICADO (buena práctica)
sass --watch directorioSASS/ficheroPrincipal.scss:directorioCSS/nombreFichero.css --style compressed
El nombre del fichero CSS se puede omitir y lo escribirá con el mismo nombre del fichero SCSS
================================================
*/

/*
================================================
SASS MAIN FEATURES - LO QUE DEBERÍAS USAR...
================================================
=======
VARIABLES
Almacena cualquier propiedad en un string - $miTexto -
----> VER FICHERO variables.scss
=======
=======
NESTING
Agrupa los selectores dentro de un mismo árbol
----> VER CUALQUIER FICHERO DE COMPONENTS
=======
*/

/*
================================================
IMPORTAR MI ESTRUCTURA EN EL FICHERO PRINCIPAL
================================================
*/
@import 'settings/s.variables';
@import 'tools/t.positions';
@import 'tools/t.flex';
@import 'tools/t.transitions';
@import 'generic/g.reset';
@import 'generic/g.lightbox';
@import 'elements/e.body';
@import 'elements/e.links';
@import 'elements/e.main';
@import 'elements/e.headings';
@import 'elements/e.lists';
@import 'elements/e.img';
@import 'elements/e.strong';
@import 'elements/e.paragraph';
@import 'components/c.navigation';
@import 'components/c.code';
@import 'components/c.footer';
@import 'components/c.list-inline';
@import 'components/c.header';
@import 'components/c.columns';
@import 'components/c.container';
@import 'components/c.alert-message';
@import 'utilities/u.text-align';
@import 'utilities/u.height';
@import 'utilities/u.color';
@import 'utilities/u.margin';



