.m {
    &-top {
        &-20 {
            margin-top: 20px;
        }
        &-50 {
            margin-top: 50px;
        }
    }
    &-right {
        &-20 {
            margin-right: 20px;
        }
        &-50 {
            margin-right: 50px;
        }
    }
    &-bottom {
        &-20 {
            margin-bottom: 20px;
        }
        &-50 {
            margin-bottom: 50px;
        }
    }
    &-left {
        &-20 {
            margin-left: 20px;
        }
        &-50 {
            margin-left: 50px;
        }
    }
}