#footer {
    height: $footer-height;
    background: $dark-grey;
    @extend %d-flex;
    @extend %v-center;
    @extend %content-center;
    .footer-details {
        color: white;
        small {
            font-size: .8em;
        }
    }
}