h1 {
    font-size: 2.2em;
    margin: 20px 0;
}

h2 {
    font-size: 1.8em;
    margin: 15px 0;
}
h1,h2,h3,h4,h5,h6 {
    &.bordered {
        display: inline-block;
        padding-bottom: 5px;
        border-bottom: 1px dotted $light-grey
    }
    small {
        font-size: .5em;
    }
}